*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    background: #c3c3c3;
}

/* .img{
    background: url('bg4.png') no-repeat;
    min-height: 290px;

    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;

    border-bottom: #666 3px solid;
} */

video{
    height: 48vh;
    width: 100%;
    object-fit: fill;
    border-bottom: #666 3px solid;
}

img{
    width: 250px;
    position: absolute;
    z-index: 1;
    top: -15%;
    left: 50%;
    /* top: -18%;
    left: 10%; */
    margin-top: 105px;
    margin-left: -145px;
    opacity: 0.9;
}

.boxes{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-auto-rows: minmax(50px, auto);
    justify-content: stretch;
    margin: 1rem 2rem 1rem 2rem;
    gap: 10px;
    align-items: stretch;
    text-align: center;
}

.box-1{
    text-shadow: -1px -1px 1px rgba(255, 215, 215, 0.79);
    border: 2px solid #333;
    border-radius: 5px;
    background-image: url(/bg1.png);
    background-position: center;
    background-size: cover;
}

.box-2{
    text-shadow: -1px -1px 1px rgba(255, 215, 215, 0.79);
    border: 2px solid #333;
    border-radius: 5px;
    background-image: url(/bg2.png);
    background-position: center;
    background-size: cover;

    grid-column: 2;
    grid-row: 1/3;
}

.box-3{
    text-shadow: -1px -1px 1px rgba(255, 215, 215, 0.79);
    border: 2px solid #333;
    border-radius: 5px;
    background-image: url(/bg3.png);
    background-position: center;
    background-size: cover;
}

.click{
    cursor: pointer;
}

/* .btn-layout{
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: 20px;
    justify-content: center;
} */

.btn-layout{
    max-width: 100%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(8, 8fr);
    gap: 30px;
}

/* .btn-1{
    grid-column: span 2;
    grid-column: 2/4;
    margin: 0 100px 40px 20px;
    padding: .2rem;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 10px;
} */

.btn-1:nth-of-type(1){
    grid-column: 2;
    grid-row: 1/3;
}

.btn-1{
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 10px;
}

.btn-2:nth-of-type(2){
    grid-column: 7;
    grid-row: 1/3;
}

.btn-2{
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 10px;
}

/* .btn-2{
    grid-column: span 2;
    grid-column: 9/11;
    margin: 0 20px 40px 100px;
    padding: .4rem;
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 10px;
} */

.btn-1:hover , .btn-2:hover{
    background: rgba(255, 215, 215, 0.79);
    transition-duration: 0.4s;
}

a{
    text-decoration: none;
}

a:visited{
    color: #fff;
}

footer{
    text-align: center;
    font-size: .6rem;
    color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

@media(max-height: 568px){
    body .img, img, .boxes, .btn-layout, .video{
        max-width: 100%;
    }
    .boxes{
        grid-template-columns: 3fr;
    }
    .btn-layout{
        grid-template-columns: repeat(1fr, 4fr);
    }
}